{{template "base" .}}
{{define "content"}}
    <form action="/foods/create" method="post">
        <div>
            <label>Meal_name:</label>
            <input type='text' name='meal_name'>
        </div>
        <div>
            <label>Weekday:</label>
            <input type='text' name='weekday'>
        </div>
        <div>
            <label>Quantity:</label>
            <input type='number' name='quantity'>
        </div>
        <div>
            <input type='submit' value='Publish food'>
        </div>
    </form>
{{end}}