{{template "base" .}}


{{define "content"}}
    <section class="news">
          <div class="container">
            <div class="news__block">
              <div class="news__image"><img src="/static/img/jastar-jalyny-900x500.jpg" alt=""></div>
              <div class="news__text">
                <div class="news__title">
                  Лауреаты фестиваля «Jastar Jalyny 2023»</div>
                <div class="news__descr">
                  С 5 по 13 декабря 2023 г. прошел студенческий творческий фестиваль «Jastar Jalyny 2023», в котором приняли участия студенты Astana IT University. В рамках фестиваля студенты соревновались между собой по 10 номинациям, как театр, поэзия, современные танцы, рисование и другие. По результатам фестиваля студенты AITU стали призерами в следующих номинациях:Первое место в номинации «Шахматы» (100 000 тенге) — Ғалымжанұлы ИбрагимТретье место в номинации «Музыкальные инструменты» (50 000 тенге) — студенческий...</div>
                <button class="news__btn">About</button>
              </div>
            </div>
            <div class="news__block">
              <div class="news__image"><img src="/static/img/independenceday-640x500.jpg" alt=""></div>
              <div class="news__text news__text_in">
                <div class="news__title">Празднование Дня Независимости</div>
                <div class="news__descr">
                  В AITU прошел ряд мероприятий, посвященных Дню Независимости Республики Казахстан. Такие, как:• состязание по стрельбе среди курсантов Военной кафедры• интеллектуальная игра «Что? Где? Когда?»• патриотическая акция «Менің елім»• открытые часы и др. Также, 15 декабря прошло главное мероприятие — праздничный концерт, где преподаватели, сотрудники и студенты были награждены Почетными грамотами и Благодарственными письмами.</div>
                <button class="news__btn">About</button>
              </div>
            </div>

            <div class="news__block">
              <div class="news__image"><img src="/static/img/movember-min-900x500.webp" alt=""></div>
              <div class="news__text news__text_in">
                <div class="news__title">Ряд мероприятий был проведен преподавателями ДОД и их студентами в ноябре</div>
                <div class="news__descr">
                  Ноябрь для Департамента общеобразовательных дисциплин оказался насыщенным, и не только потому, что на этот месяц выпала первая в учебном году сессия, но и потому, что преподавателями совместно со студентами был организован ряд важных мероприятий. Так в рамках проведения декады языков преподавателями Департамента общеобразовательных дисциплин и студентами, изучающими дисциплину «Русский язык», была организована викторина «Своя игра». В проведении мероприятия приняло участие порядка 100 человек. В самой викторине участвовали 7 команд, представляющих...</div>
                <button class="news__btn">About</button>
              </div>
            </div>

            <div class="news__block">
              <div class="news__image"><img src="/static/img/day.jpg" alt=""></div>
              <div class="news__text news__text_in">
                <div class="news__title">День защитника Отечества в AITU</div>
                <div class="news__descr">
                    В честь празднования Дня защитника Отечества в AITU был организован живой коридор, в течении праздничного дня сотрудницы, волонтеры, а также студентки выражали слова благодарности мужской половине нашего академического сообщества. Также всем были розданы казахстанские ленты победы в честь 78 годовщины.</div>
                <button class="news__btn">About</button>
              </div>
            </div>
          </div>
        </section>
{{end}}