{{template "base" .}}


{{define "content"}}
    <section class="news">
          <div class="container">
            <div class="news__block">
              <div class="news__image"><img src="/static/img/Korea-min-900x500.webp" alt=""></div>
              <div class="news__text">
                <div class="news__title">Гостевая лекция профессора Dong-Hyun Kim, директора центра производственного процесса 3D-печати (Улсан, Южная Корея)</div>
                <div class="news__descr">
                  4 декабря состоялась встреча преподавателей и студентов Astana IT University с профессором Dong-Hyun Kim, директором центра производственного процесса 3D-печати (Улсан, Южная Корея). В ходе встречи профессор прочитал лекцию на тему «Стратегия применения аддитивного производства в бизнес-перспективе». Dong-Hyun Kim получил степень бакалавра вычислительного материаловедения в Университете Флориды по специальности «Материаловедение и инженерия науки». Dong-Hyun Kim говорил о разнообразных применениях аддитивного производства, уделив особое внимание его стратегическому внедрению и потенциальному влиянию на...</div>
                <button class="news__btn">About</button>
              </div>
            </div>

            <div class="news__block">
              <div class="news__image"><img src="/static/img/Turkey-min-900x500.webp" alt=""></div>
              <div class="news__text">
                <div class="news__title">Гостевая лекция профессора Корхана Кайишли из Университета Гази (Турция)</div>
                <div class="news__descr">
                  14 декабря состоялась встреча преподавателей и студентов Astana IT University с приглашенным профессором из Университета Гази Корханом Кайишли. В ходе встречи профессор прочитал лекцию на тему «Computer Science in Green Technologies», в которой были упомянуты современные тренды развития компьютерной науки в направлении зеленых технологий. Кроме того, приглашенный профессор поделился с исследователями AITU своими научными интересами. Презентация вызвала большой интерес среди участников. Отметим, что иностранный профессор Корхан Кайишли был приглашен в...</div>
                <button class="news__btn">About</button>
              </div>
            </div>

            <div class="news__block">
              <div class="news__image"><img src="/static/img/delegation-min-900x500.webp" alt=""></div>
              <div class="news__text news__text_in">
                <div class="news__title">Визит делегации из Таджикистана в Astana IT University</div>
                <div class="news__descr">
                  22 ноября 2023 года в Astana IT University состоялся визит представителей высших учебных заведений и Министерства инноваций и новых технологий Республики Таджикистан. В ходе встречи исполняющим обязанности Ректора Омирбаевым С. М. была проведена презентация AITU, а также представлены пожелания по основным сферам сотрудничества. Представители таджикской делегации, в свою очередь, рассказали о новых вехах развития технологий и образования в Таджикистане. Гости выразили интерес к обмену опытом в сфере новых технологий. По...</div>
                <button class="news__btn">About</button>
              </div>
            </div>

            <div class="news__block">
              <div class="news__image"><img src="/static/img/inter-768x500.jpg" alt=""></div>
              <div class="news__text news__text_in">
                <div class="news__title">Доклад на Международном научном симпозиуме «Современные тенденции в образовании и обучении языков»</div>
                <div class="news__descr">
                  В рамках реализации Жан Моне модуля «Развитие цифровой культуры в условиях высшего образования: европейский опыт» (Jean Monnet Module “Digital Culture in Higher Education: European Perspective” (DigCEE)) ERASMUS-JMO-2022-HEI-TCH-RSCH, координатор проекта, Директор Департамента общеобразовательных дисциплин Тлешова Ж.К. выступила с докладом на Международном научном симпозиуме «Современные тенденции в образовании и обучении языков». Симпозиум проводился на базе Назарбаев Университета 17 октября 2023 года. Тема доклада — Digitalization of education in European Union and Kazakhstan: policies...</div>
                <button class="news__btn">About</button>
              </div>
            </div>

            <div class="news__block">
              <div class="news__image"><img src="/static/img/oriantation.webp" alt=""></div>
              <div class="news__text news__text_in">
                <div class="news__title">Ориентационный день для иностранных студентов AITU</div>
                <div class="news__descr">
                  06 ноября 2023 года состоялась встреча с иностранными студентами первого курса Astana IT University в формате ориентационного дня. В рамках встречи иностранные студенты были ознакомлены с правилами регистрации иностранных граждан в Республике Казахстан, а также с правилами учебного процесса, студенческими клубами и социальной поддержкой. Отметим, что ориентационные дни содействуют в процессе социальной адаптации иностранных студентов...</div>
                <button class="news__btn">About</button>
              </div>
            </div>

          </div>
        </section>

{{end}}