{{template "base" .}}

{{define "content"}}
     <section class="news">
          <div class="container">
            <div class="news__block">
              <div class="news__image"><img src="/static/img/cambridge.jpg" alt=""></div>
              <div class="news__text">
                <div class="news__title">Уважаемые преподаватели и студенты!</div>
                <div class="news__descr">
                  Нашему университету предоставлен тестовый доступ онлайн ресурсам издательства Cambridge University Press. Доступ активирован с 15.05.2023 до 30.06.2023. В Cambridge University Press в настоящее время издается более 380 рецензируемых академических журналов, охватывающих гуманитарные, социальные и естественные науки, технологии и медицину. Cambridge Core также включает контент, опубликованный партнерами-издателями, в том числе Edinburgh University Press, Facet Publishing и...</div>
                <button class="news__btn">About</button>
              </div>
            </div>

            <div class="news__block">
              <div class="news__image"><img src="/static/img/wiley.png" alt=""></div>
              <div class="news__text">
                <div class="news__title">Уважаемые преподаватели, сотрудники и студенты!</div>
                <div class="news__descr">
                  Информируем вас о том, что с 20 апреля 2023 по 31 декабря 2023 в рамках  проекта «Национальная подписка» доступны информационные ресурсы издательства Wiley для научных исследований. Доступные Ресурсы (на английском языке) — статьи из журналов. Архив с 1997 года. Международное издательство Wiley является одним из крупнейших академических издательств. Основанное в 1807 году, John Wiley &...</div>
                <button class="news__btn">About</button>
              </div>
            </div>

            <div class="news__block">
              <div class="news__image"><img src="/static/img/umniki.jpg" alt=""></div>
              <div class="news__text">
                <div class="news__title">Литературный конкурс «Умники и умницы»</div>
                <div class="news__descr">
                  29 марта в рамках реализации Концепции «Читающий колледж» студенты приняли участие в литературном конкурсе «Умники и умницы». Конкурс был организован библиотекой университета и состоял из 3-х туров. Финалистами стали 3 студента и с небольшой разницей в количестве баллов определился победитель. В конце конкурса каждый финалист был награжден художественной литературой. Поздравляем всех участников и желаем постижения...</div>
                <button class="news__btn">About</button>
              </div>
            </div>

            <div class="news__block">
              <div class="news__image"><img src="/static/img/webofscience.jpg" alt=""></div>
              <div class="news__text">
                <div class="news__title">
                  Онлайн вебинар «Подбор и анализ журнала для публикации Web of Science»</div>
                <div class="news__descr">
                  Уважаемые преподаватели и магистранты! Приглашаем вас принять участие в вебинаре «Подбор и анализ журнала для публикации (Web of Science, JCR, MJL)», который состоится 22 марта 2023 года.</div>
                <button class="news__btn">About</button>
              </div>
            </div>

            <div class="news__block">
              <div class="news__image"><img src="/static/img/givebook.png" alt=""></div>
              <div class="news__text news__text_ICPC">
                <div class="news__title">Акция «Подари книгу библиотеке»</div>
                <div class="news__descr">
                  В Научной библиотеке Astana IT University стартовала акция «Подари книгу библиотеке».</div>
                <button class="news__btn">About</button>
              </div>
            </div>


          </div>
        </section>
{{end}}